@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Nigdi Pradhikaran, Pune<br />
        431129-Maharashtra<br />
        <abbr title="Phone">P:</abbr>
        7743896566
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">support.help@grocerystroe.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@grocerystore.com</a>
    </address>
</main>